<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="assets/academify.png" class="d-inline-block align-text-top" height="32" width="64">Academify
        </a> 
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="students">Alunos</a>
                <a class="nav-link" href="school-subjects" disabled="disabled">Disciplina</a>
            </div>
            <div class="collapse navbar-collapse justify-content-end">
                <!-- Botão criado e desabilitado pois não existe imprementação para o mesmo -->
                <button mat-stroked-button color="warn" disabled>Sair</button>
            </div>
        </div>
    </div>
</nav>